*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#2b6fd6,#4c8df6);
}

/* MAIN CONTAINER */

.container{
display:flex;
justify-content:center;
align-items:center;
width:100%;
}

/* FORM CARD */

.form-box{
background:white;
padding:40px;
width:320px;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,0.2);
text-align:center;
}

h1{
color:#2b6fd6;
margin-bottom:5px;
}

.subtitle{
color:gray;
margin-bottom:25px;
}

/* INPUT FIELDS */

.input-box{
text-align:left;
margin-bottom:15px;
}

label{
font-size:14px;
color:#444;
}

input{
width:100%;
padding:10px;
margin-top:5px;
border:1px solid #ccc;
border-radius:6px;
}

input:focus{
outline:none;
border-color:#2b6fd6;
}

/* BUTTON */

button{
width:100%;
margin-top:10px;
padding:12px;
background:#ff7a18;
border:none;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#e66b10;
}
